.fs-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background: #fff;
}

.fs-layout-content {
  flex: 1;
  overflow: visible; /* important for scroll detection */
  height: auto;
  padding: 0;
  margin: 0;
  margin-top: 50px; 
}